/*:global(.vtex-store-video-1-x-videoContainer--video-background) {
    margin: 60px 0;
}
*/
:global(.vtex-store-video-1-x-videoContainer--video-background),
:global(.vtex-store-video-1-x-videoElement--video-background) {
    height: 80vh !important;
    width: 100% !important;
}

@media only screen and (max-width: 600px){
    :global(.vtex-store-video-1-x-videoContainer--video-background){
        height: 350px;
        display: none;
    }
}